.input-group {
  margin-bottom: 1rem;
}
.form-label {
  display: block;
  margin-bottom: .5rem;
}

.invalid .form-control {
  border-color: firebrick;
}
.error {
  color: firebrick;
  font-size: .9rem;
  display: none;
}
.invalid .error {
  display: block;
}
.tooltip {
  color: #6d6d6d;
  font-size: .87rem;
}

.row {
  display: flex;
  gap: 1rem;
}
.categories { flex: 4; }
.author { flex: 1; }

.form-textarea {
  resize: none;
  overflow: auto;
}