.user-list {
  list-style: none;
  padding: 0;
}

.pop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 300px;
  background-color: #fefefe;
  padding: 1.2rem 2rem;
  box-shadow: 2px 2px 8px 2px #00000046;

  animation: toast 3s both;
}

@keyframes toast {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}