@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  width: 850px;
  margin: 2rem auto;
}
.btn {
  background-color: transparent;
  border: 0;
  padding: .6em 1.2em;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 100vh;
}
.btn-primary {
  background-color: #d6d62b;
  color: #000;
}

.mb-2 {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}
.flex-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
  align-items: center;
}


.header {
  height: 250px;
  background-image: linear-gradient(to right, #2d2753, #412661);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.heading {
  font-size: 3rem;
}

.form-control {
  width: 100%;
  font-size: 1rem;
  padding: .5em;
  border-radius: .7em;
  border: 1px solid #333;
}