/* @import url('./globals.css'); */

.post {
  display: flex;
  border-bottom: 1px solid #dbdbdb;
}
.post:nth-child(even) {
  flex-direction: row-reverse;
}
.img-container {
  height: 250px;
  flex: 1;

  & img {
    object-fit: cover;
  }
}

.content {
  flex: 1;
  padding: 1rem 2rem;
  position: relative;
}

.content_title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.info, .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
}
.info {
  margin-bottom: 2rem;
}
.categories {
  gap: 1rem;
}
.categories li {
  list-style: none;
  background-color: #333;
  color: #fff;
  padding: .2em 1em;
  border-radius: 100vh;
}

.bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}