* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1d8397;
  background: linear-gradient(#1a7385, #082128);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.wrapper {
  height: 100svh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city-name {
  font-size: 3rem;
}
.current {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deg { 
  position: relative; 
  display: inline-block;
  /* padding-bottom: 1.5rem; */
}
.temp {
  font-size: 8rem;
  font-weight: 300;
}

.icon {
  background: url('https://openweathermap.org/img/wn/10d@2x.png');
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1;
  position: absolute;
  bottom: -1.7rem;
  right: -3rem;
}

.description {
  font-weight: 600;
  font-size: 1.5rem;
  color: #8697a2;
  margin-top: .7rem;
}

.hi-low {
  display: flex;
  justify-content: center;
}

.date {
  margin-top: 2rem;
}


form {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  & input {
    font-size: 1rem;
    padding: .5em;
    border: 1px solid #8697a2;;
    border-radius: .5em 0 0 .5em;
    background-color: transparent;
    color: #fff;
  }

  & button {
    font-size: 1rem;
    height: 100%;
    border-radius: 0 .5em .5em 0;
    border: 1px solid #8697a2;;
    padding: 0 1rem;
    background-color: #1a7385;
    color: #fff;
  }
}


.hourly {
  display: flex;
  gap: 1rem;
  margin-top: 5em;
  background-color: #ffffff1b;
  padding: 1rem;
  border-radius: 1rem;

  .houly_hour {
    background-color: #ffffff1b;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small-icon {
    background: url('https://openweathermap.org/img/wn/10d@2x.png');
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
  }
  .hourly_temp {

  }
}